# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
build/
dist/

# 📦 Virtual environments
venv/
.venv/
env/
ENV/

# 🔐 Secrets & environment variables
.env
.env.*
*.env
secrets.yml
profiles.yml

# ❄️ Snowflake / 🚚 dlt local files 
.dlt/secrets.toml
*.duckdb

# 📚 dbt
target/
dbt_packages/
logs/
.user.yml

# 🌀 Airflow
airflow.cfg
airflow.db
airflow-webserver.pid
logs/
standalone_admin_password.txt

# 🖥️ VS Code
.vscode/
*.code-workspace

# 🧹 OS / WSL junk
.DS_Store
Thumbs.db
desktop.ini

# 📝 Logs & some notes & temp files
*.log
*.tmp
*.bak
notes/